<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reserva de experiencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup">
    <ion-item>
      <ion-label>Fecha de la reserva</ion-label>
      <ion-datetime formControlName="date" 
        [min]="minDateBooking" 
        [max]="maxDateBooking" 
        displayFormat="MMMM DD YYYY">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Detalles de la reserva</ion-label>
      <ion-textarea formControlName="detail" clearOnEdit="true"></ion-textarea>
    </ion-item>
    <br /><br />
    <ion-button (click)="makeBooking()" [disabled]="formGroup.invalid" color="secondary" expand="block">Confirmar reserva</ion-button>
  </form>
</ion-content>
